# Logging 
LOG_LEVEL=debug
LOG_FILE_MAX_SIZE=10mc
LOG_FILE_MAX_FILES=14d

# Backend
BACKEND_PORT=3000

# Redis
REDIS_URL=redis://redis:6379

# ADS-B Gateway
ADSB_GATEWAY_MOCK_SIGNAL=false
ADSB_GATEWAY_DUMP1090_URL=http://host.docker.internal:8080/data.json
ADSB_GATEWAY_POOL_INTERVAL=5000

# UI
UI_PORT=8080
